/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/app
/src
tests
var
web
composer.json
composer.lock
README.md
phpunit.xml.dist
.idea